<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>TACOS</title>
	<link rel="stylesheet" type="text/css" media="screen" href="/assets/tacos_styles.css"/>
</head>
<body>
	{{{body}}}
</body>
</html>